<div class="groups">
<h1 id=title>Your Squads</h1>



  <div class="col-md-3">
    <h1>Work</h1>
    <img class="groupImg" ng-click="vm.show()" class="dropbtn" src="http://www.mtzionjoliet.org/images/staff/profileplaceholder.png" alt="">
    <div class="row">
      <div id="myDropdown" class="hide dropdown-content">
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <button class="message btn btn-primary">Message Entire Squad</button>
      </div>

    </div>

  </div>
  <div class="col-md-3">
    <h1>The Homies</h1>
    <img class="groupImg" ng-click="vm.show1()" class="dropbtn" src="http://vignette1.wikia.nocookie.net/nippuru/images/5/5c/Steamworkshop_webupload_previewfile_403723400_preview.jpg/revision/latest?cb=20160328091050" alt="">
      <div id="myDropdown1" class="hide dropdown-content">
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <button class="message btn btn-primary">Message Entire Squad</button>
      </div>

  </div>
  <div class="col-md-3">
    <h1>New Players</h1>
    <img class="groupImg" ng-click="vm.show2()" class="dropbtn" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="">
      <div id="myDropdown2" class="hide dropdown-content">
        <div class="col-md-12 person">
          <img class="avatar" src="http://trafficandconversionsummit.com/css/images/placeholder.png" alt="">
          <p>John Doe</p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-phone-square" aria-hidden="true"></i>
        </div>
        <button class="message btn btn-primary">Message Entire Squad</button>
      </div>

    </div>
  <div class="col-md-3">
    <h1>School</h1>
    <img class="groupImg" src="https://www.qld.gov.au/jobs/assets/images/thumbs/recent-graduates.png" alt="">
  </div>





</div>
